@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$green: #789629;
$font-text: 'Open Sans', sans-serif;
$header-line: #b3b3b3;
$black: black;
$bg-header: transparent;
$white: white;
$dark-red: #800000;
$grey: #737373;