@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

$header-color: #789629;
$font-text: 'Open Sans', sans-serif;
$header-line: #f5f5ef;
$color-fas: black;
$bg-header: transparent;
$white: white;