.category   
    .category__content  
        .category__content__title
            i.fas.fa-bars
            h2 DANH MỤC SẢN PHẨM
        #accordionExample.accordion.accordion-flush.category__content__list
            each category_list in category
                -const{title, title_id, collapse, heading, list} = category_list
                +category_item(title, title_id, collapse, heading, list)
        .categories__compare
            h2 SO SÁNH SẢN PHẨM
            p   Bạn chưa có sản phẩm nào đẻ so sánh
        .categories__tag
            h2  TAG SẢN PHẨM
            .categories__tag__btn
                each item in listBtnTagCategory
                    button(type= "button")= item
        .categories__img
            img(src="./assets/images/grid/mandala-store.jpg", alt="categories__img")
            //- .accordion-item
            //-     h2#flush-headingOne.accordion-header
            //-         button.accordion-button.collapsed( data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-controls='collapseOne') Accordion Item #1
            //-     #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
            //-         .accordion-body
            //-             strong This is the first item&apos;s accordion body.
            //- .accordion-item
            //-     h2#flush-headingTwo.accordion-header
            //-         button.accordion-button.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-controls='collapseTwo') Accordion Item #2
            //-     #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
            //-         .accordion-body
            //-             strong This is the second item&apos;s accordion body.
            //- .accordion-item
            //-     h2#flush-headingThree.accordion-header
            //-         button.accordion-button.collapsed( data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-controls='collapseThree') Accordion Item #3
            //-     #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
            //-         .accordion-body
            //-             strong This is the third item&apos;s accordion body.
            //- .accordion-item
            //-     h2#flush-headingFour.accordion-header
            //-         button.accordion-button.collapsed( data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-controls='collapseFour') Accordion Item #4
            //-     #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
            //-         .accordion-body
            //-             strong This is the third item&apos;s accordion body.