extends ../layouts/layout_home.pug
block content
    .container
        .section.content_banner
        .policy
            .wrapper
        section.showcase
            .wrapper
        section.testimonial
            .wrapper
        section.slide_category
            .wrapper
        .social_media   
            .wrapper  
        section.main_bottom
            .wrapper
                .main_bottom_about
                .main_bottom_blog
                .main_bottom_mixture    
                    .main_bottom_contact
                    .main_bottom_tag_product