extends ../layouts/layout_home.pug
block content
        section.content_banner.container-fluid
            .wrapper.row
                .col-6.col-sm-6.content_banner_left
                    h2.banner_title
                        img(src="./assets/images/hero-title.png", alt="Green Vera" class = 'img-fluid')
                    p.banner_caption Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                    p.banner_price GIÁ CHỈ 750.000<sup>đ</sub>
                    a.banner_orderNow(href="#") MUA HÀNG
                .col-6.col-sm-6
        .policy
            include ../variables/index_variables.pug
            .wrapper
                each item in policy_variables
                    .policy_item
                        .cover    
                            img(src= item.image, alt="policy image")
                            p.policy_item_content= item.content 
        section.showcase
            include ../base/mixins.pug
            .wrapper
                .showcase_top.row
                    .showcase_item.col-12.col-sm-6
                        .showcase_item_product
                            +showcase_item_product("./assets/images/img8.jpg")
                        .showcase_item_color(style= "color: white")
                            +showcase_item_color("fa-caret-left", 'arrow_left', "./assets/images/2.png", "SỮA TẮM")
                        .showcase_item_color
                            +showcase_item_color("fa-caret-right", 'arrow_right', "./assets/images/1.png", "NƯỚC HOA")
                        .showcase_item_product
                            img(src="./assets/images/img14.jpg", alt="showcase image")
                            .showcase_item_content
                                p.showcase_content_date Từ 1/6-5/6/2015
                                p.showcase_content_discount -40%
                                a(href="#") MUA HÀNG
                    .showcase_item.col-12.col-sm-6
                        img(src="./assets/images/img13.jpg", alt="showcase image").img-fluid
                        .showcase_item_content
                            a(href="#").btn_play
                                i.fas.fa-play
                        p.corrine CORRINE 2015
                .showcase_bottom.row
                    .showcase_item.col-12.col-sm-6
                        img(src="./assets/images/img10.jpg", alt="showcase image").img-fluid
                        .showcase_bottom_left
                            p.content_combo COMBO TẮM TRẮNG
                            p.content_atHome Tại Nhà
                    .showcase_item.col-12.col-sm-6
                        .showcase_item_product
                            +showcase_item_product("./assets/images/img9.jpg")
                        .showcase_item_color
                            +showcase_item_color("fa-caret-right", 'arrow_right', "./assets/images/1.png", "TRANG SỨC")
                        .showcase_item_color
                            .color_item
                            i.fas.fa-caret-left.arrow_left
                            .showcase_item_content
                                img(src="./assets/images/daisy.png", alt="showcase image").img_daisy
                                p.showcase_item_content_text Quyến rũ hơn
                                p.content_withDaisy DAISY
                        .showcase_item_product
                            +showcase_item_product("./assets/images/img11.jpg")
        section.testimonial
            .wrapper
        section.slide_category
            .wrapper
        .social_media   
            .wrapper  
        section.main_bottom
            .wrapper
                .main_bottom_about
                .main_bottom_blog
                .main_bottom_mixture    
                    .main_bottom_contact
                    .main_bottom_tag_product