extends ../layouts/layout_home.pug
block content
        section.content_banner.container-fluid
            .wrapper.row
                .col-6.col-sm-6.content_banner_left
                    h2.banner_title
                        img(src="./assets/images/hero-title.png", alt="Green Vera" class = 'img-fluid')
                    p.banner_caption Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                    p.banner_price GIÁ CHỈ 750.000<sup>đ</sub>
                    a.banner_orderNow(href="#") MUA HÀNG
                .col-6.col-sm-6
        .policy
            .wrapper
        section.showcase
            .wrapper
        section.testimonial
            .wrapper
        section.slide_category
            .wrapper
        .social_media   
            .wrapper  
        section.main_bottom
            .wrapper
                .main_bottom_about
                .main_bottom_blog
                .main_bottom_mixture    
                    .main_bottom_contact
                    .main_bottom_tag_product