-
    var PathBlog = [
        {
            located: "Home",
        },
        {
            located: "Blog",
            className: "path__content--red",
            classIcon: "disable"
        }
    ]

-
    var PostItem = [
        {
            img : "./assets/images/post-image/img7.jpg",
            className : "postItem1"
        },
        {
            img : "./assets/images/post-image/img2.jpg",
            className : "postItem2"
        },
        {
            img : "./assets/images/post-image/img9.jpg",
            className : "postItem3"
        },
        {
            img : "./assets/images/post-image/img4.jpg",
            className : "postItem4"
        },
        {
            img : "./assets/images/post-image/img3.jpg",
            className : "postItem5"
        },
        {
            img : "./assets/images/post-image/img6.jpg",
            className : "postItem6"
        },
        {
            img : "./assets/images/post-image/img8.jpg",
            className : "postItem7"
        },
        {
            img : "./assets/images/post-image/img5.jpg",
            className : "postItem8"
        },
        {
            img : "./assets/images/post-image/img1.jpg",
            className : "postItem9"
        },
    ]