-
    var footer_top = [
        {
            title: 'CHUYẾN HÀNG',
            items: ["Mua sắm trực tuyến", "Đến từ chúng tôi gửi đến", "Chính sách vận chuyển", "Thông tin vận chuyển"]
        },

        {
            title: 'HỖ TRỢ',
            items: ["Câu chuyện của chúng tôi", "Thanh toán an toàn", "Tùy chọn vận chuyển", "Chính sách vận chuyển"]
        }, 

        {
            title: "THÔNG TIN",
            items: ["Về Chúng Tôi", "Điều khoản & Điều kiện", "Chính sách riêng tư", "Đơn đặt hàng và Returns"]
        },

        {
            title: "MY ACCOUNT",
            items: ["Xem giỏ hàng", "Sản Phẩm yêu thích", "Kiểm tra", "Theo dõi đặt hàng của chúng tôi"]
        }
    ]

- 
    var footer_bottom= [
        {
            title: "© Copyright 2008-2014 DKT Technology JSC",
            image: "./assets/images/payment.png"
        }
    ]