-
    var policy_variables = [
        {
            image: "./assets/images/plane.png",
            content: "Miễn phí vận chuyển"
        },

        {
            image: "./assets/images/gift.png",
            content: "Nhận ngay quà tặng trị giá 350.000đ"
        },

        {
            image: "./assets/images/star.png",
            content: "Giảm 30% cho đơn hàng trên 5.000.000đ"
        }
    ]